registry=http://grtfs:8080/tfs/GRMCollection/_packaging/grm-test-feed/npm/registry/
always-auth=true
; Trate este token de autorización como una contraseña. No lo comparta con nadie, ni siquiera con el soporte técnico de Microsoft. Este token expira como máximo el 15/05/2018.
; token de autenticación inicial
//grtfs:8080/tfs/GRMCollection/_packaging/grm-test-feed/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InJrNVF1Y1hubk1Ea01FckJUUXk1Mmx0X21kbyJ9.eyJuYW1laWQiOiIxYzk2NzM3OS0zMWY2LTRmYTAtOGEwZS00YTJhNjI4OGNlNTEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiN2RhMDU3MWUtNDQxNi00OTMyLTllYmYtZjg5OGZmZGMzOTRiIiwic2lkIjoiODEzYmIzZjItMjQwYy00M2EzLWFlOTYtZTVmMGI4NzhhMDUwIiwiaXNzIjoiZ3J0ZnMiLCJhdWQiOiJncnRmcyIsIm5iZiI6MTUxODYwOTMyOCwiZXhwIjoxNTI2Mzg1MzI4fQ.pnMPvuXnBe_8locWtsQ7Ot1xvtDnNYtU5zzo2JAv-b9rDx5gj9pqzEJK4qlaenblup1Z3wK3vjtwp9umxB9vJKSKnPGRMXeHjY5Ra_-TNHPKvV4ZoAZVpj7xua2xeAtRgju7sv_F10Mh06dmEi9YJSamP8dPhz5tTiTGu_fiE9jV5x6caPkvkye28ZKskYPk8IwoX0B4XivyIPEmQMDLv0Kaivh00mVB2_QAyPDKN_h9HZvMPvxE95wAgqTXD6n6MKlSTHM3I7OSl0c_SGuP8BbmbrshftowxvOV1-2Mo661JOoW7oDVRKnQUkt75KxybgebwtDpgKxg5EgkP3e_cg
//grtfs:8080/tfs/GRMCollection/_packaging/grm-test-feed/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InJrNVF1Y1hubk1Ea01FckJUUXk1Mmx0X21kbyJ9.eyJuYW1laWQiOiIxYzk2NzM3OS0zMWY2LTRmYTAtOGEwZS00YTJhNjI4OGNlNTEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiN2RhMDU3MWUtNDQxNi00OTMyLTllYmYtZjg5OGZmZGMzOTRiIiwic2lkIjoiODEzYmIzZjItMjQwYy00M2EzLWFlOTYtZTVmMGI4NzhhMDUwIiwiaXNzIjoiZ3J0ZnMiLCJhdWQiOiJncnRmcyIsIm5iZiI6MTUxODYwOTMyOCwiZXhwIjoxNTI2Mzg1MzI4fQ.pnMPvuXnBe_8locWtsQ7Ot1xvtDnNYtU5zzo2JAv-b9rDx5gj9pqzEJK4qlaenblup1Z3wK3vjtwp9umxB9vJKSKnPGRMXeHjY5Ra_-TNHPKvV4ZoAZVpj7xua2xeAtRgju7sv_F10Mh06dmEi9YJSamP8dPhz5tTiTGu_fiE9jV5x6caPkvkye28ZKskYPk8IwoX0B4XivyIPEmQMDLv0Kaivh00mVB2_QAyPDKN_h9HZvMPvxE95wAgqTXD6n6MKlSTHM3I7OSl0c_SGuP8BbmbrshftowxvOV1-2Mo661JOoW7oDVRKnQUkt75KxybgebwtDpgKxg5EgkP3e_cg
; token de autenticación final